<!-- templates/rainbownums/base.html -->
{% extends '../base.html' %}

{% block content %}

<table border="1" style="width: 100%; margin-top: 20px;">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Unit Price</th>
        <th>Size</th>
        <th>Quantity</th>
        <th>Subtotal</th>
    </tr>
    </thead>
    {% for product in cart %}
    <tr>
        <td align="center"><img src={{ product.0.images.all.0.Image.url }} height="200"></td>
        <td><a href="/store/product/{{ product.0.ProductID }}">{{ product.0.ProductName }}</a></td>
        <td>${{ product.2 }}</td>
        <td>{{ product.1 }}</td>
        <td>{{ product.3 }}</td>
        <td>${{ product.4 }}</td>
    </tr>
    {% endfor %}
</table>

{% if total %}
<div style="float: right;">
    <p>Total before tax: ${{ total_before_tax }}</p>
    <p>Tax: ${{ tax }}</p>
    <p>Total: ${{ total }}</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="CustomerEmail" id="CustomerEmail" value="{{ user.email }}">
        <input type="hidden" name="CustomerAddress" id="CustomerAddress" value="{{ address.0 }}">
        <input type="hidden" name="CustomerCity" id="CustomerCity" value="{{ address.1 }}">
        <input type="hidden" name="CustomerState" id="CustomerState" value="{{ address.2 }}">
        <input type="hidden" name="CustomerZIP" id="CustomerZIP" value="{{ address.3 }}">
        <button type="submit">Purchase</button>
    </form>
</div>
{% else %}
<div style="float: right;">
    <p>Total before tax: ${{ total_before_tax }}</p>
</div>

<br>

{% if coupon %}
<p>Coupon applied: {{ coupon }}</p>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <p>{{ user.customer.City }}</p>
    <div>
        <p>{{ user. }}</p>
        <p style="display: inline;">First Name</p>
        <input style="display: inline;" type="text" name="FirstName" id="FirstName" value="{{ user.first_name }}">
        <p style="display: inline;">Last Name</p>
        <input style="display: inline;" type="text" name="LastName" id="LastName" value="{{ user.last_name }}">
        <p style="display: inline;">Email</p>
        <input style="display: inline;" type="text" name="Email" id="Email" value="{{ user.email }}">
    </div>
    <div>
        <p style="display: inline;">Address</p>
        <input style="display: inline;" type="text" name="Address" id="Address" value="{{ user.customer.Address }}">
        <p style="display: inline;">City</p>
        <input style="display: inline;" type="text" name="City" id="City" value="{{ user.customer.City }}">
    </div>
    <div>
        <p style="display: inline;">State</p>
        <select style="display: inline;" name="State" id="State">
            <option value="AL" {% if user.customer.State == "AL" %} selected="selected" {% endif %}>Alabama</option>
            <option value="AK" {% if user.customer.State == "AK" %} selected="selected" {% endif %}>Alaska</option>
            <option value="AZ" {% if user.customer.State == "AZ" %} selected="selected" {% endif %}>Arizona</option>
            <option value="AR" {% if user.customer.State == "AR" %} selected="selected" {% endif %}>Arkansas</option>
            <option value="CA" {% if user.customer.State == "CA" %} selected="selected" {% endif %}>California</option>
            <option value="CO" {% if user.customer.State == "CO" %} selected="selected" {% endif %}>Colorado</option>
            <option value="CT" {% if user.customer.State == "CT" %} selected="selected" {% endif %}>Connecticut</option>
            <option value="DE" {% if user.customer.State == "DE" %} selected="selected" {% endif %}>Delaware</option>
            <option value="DC" {% if user.customer.State == "DC" %} selected="selected" {% endif %}>District Of Columbia</option>
            <option value="FL" {% if user.customer.State == "FL" %} selected="selected" {% endif %}>Florida</option>
            <option value="GA" {% if user.customer.State == "GA" %} selected="selected" {% endif %}>Georgia</option>
            <option value="HI" {% if user.customer.State == "HI" %} selected="selected" {% endif %}>Hawaii</option>
            <option value="ID" {% if user.customer.State == "ID" %} selected="selected" {% endif %}>Idaho</option>
            <option value="IL" {% if user.customer.State == "IL" %} selected="selected" {% endif %}>Illinois</option>
            <option value="IN" {% if user.customer.State == "IN" %} selected="selected" {% endif %}>Indiana</option>
            <option value="IA" {% if user.customer.State == "IA" %} selected="selected" {% endif %}>Iowa</option>
            <option value="KS" {% if user.customer.State == "KA" %} selected="selected" {% endif %}>Kansas</option>
            <option value="KY" {% if user.customer.State == "KY" %} selected="selected" {% endif %}>Kentucky</option>
            <option value="LA" {% if user.customer.State == "LA" %} selected="selected" {% endif %}>Louisiana</option>
            <option value="ME" {% if user.customer.State == "ME" %} selected="selected" {% endif %}>Maine</option>
            <option value="MD" {% if user.customer.State == "MD" %} selected="selected" {% endif %}>Maryland</option>
            <option value="MA" {% if user.customer.State == "MA" %} selected="selected" {% endif %}>Massachusetts</option>
            <option value="MI" {% if user.customer.State == "MI" %} selected="selected" {% endif %}>Michigan</option>
            <option value="MN" {% if user.customer.State == "MN" %} selected="selected" {% endif %}>Minnesota</option>
            <option value="MS" {% if user.customer.State == "MS" %} selected="selected" {% endif %}>Mississippi</option>
            <option value="MO" {% if user.customer.State == "MO" %} selected="selected" {% endif %}>Missouri</option>
            <option value="MT" {% if user.customer.State == "MT" %} selected="selected" {% endif %}>Montana</option>
            <option value="NE" {% if user.customer.State == "NE" %} selected="selected" {% endif %}>Nebraska</option>
            <option value="NV" {% if user.customer.State == "NV" %} selected="selected" {% endif %}>Nevada</option>
            <option value="NH" {% if user.customer.State == "NH" %} selected="selected" {% endif %}>New Hampshire</option>
            <option value="NJ" {% if user.customer.State == "NJ" %} selected="selected" {% endif %}>New Jersey</option>
            <option value="NM" {% if user.customer.State == "NM" %} selected="selected" {% endif %}>New Mexico</option>
            <option value="NY" {% if user.customer.State == "NY" %} selected="selected" {% endif %}>New York</option>
            <option value="NC" {% if user.customer.State == "NC" %} selected="selected" {% endif %}>North Carolina</option>
            <option value="ND" {% if user.customer.State == "ND" %} selected="selected" {% endif %}>North Dakota</option>
            <option value="OH" {% if user.customer.State == "OH" %} selected="selected" {% endif %}>Ohio</option>
            <option value="OK" {% if user.customer.State == "OK" %} selected="selected" {% endif %}>Oklahoma</option>
            <option value="OR" {% if user.customer.State == "OR" %} selected="selected" {% endif %}>Oregon</option>
            <option value="PA" {% if user.customer.State == "PA" %} selected="selected" {% endif %}>Pennsylvania</option>
            <option value="RI" {% if user.customer.State == "RI" %} selected="selected" {% endif %}>Rhode Island</option>
            <option value="SC" {% if user.customer.State == "SC" %} selected="selected" {% endif %}>South Carolina</option>
            <option value="SD" {% if user.customer.State == "SD" %} selected="selected" {% endif %}>South Dakota</option>
            <option value="TN" {% if user.customer.State == "TN" %} selected="selected" {% endif %}>Tennessee</option>
            <option value="TX" {% if user.customer.State == "TX" %} selected="selected" {% endif %}>Texas</option>
            <option value="UT" {% if user.customer.State == "UT" %} selected="selected" {% endif %}>Utah</option>
            <option value="VT" {% if user.customer.State == "VT" %} selected="selected" {% endif %}>Vermont</option>
            <option value="VA" {% if user.customer.State == "VA" %} selected="selected" {% endif %}>Virginia</option>
            <option value="WA" {% if user.customer.State == "WA" %} selected="selected" {% endif %}>Washington</option>
            <option value="WV" {% if user.customer.State == "WV" %} selected="selected" {% endif %}>West Virginia</option>
            <option value="WI" {% if user.customer.State == "WI" %} selected="selected" {% endif %}>Wisconsin</option>
            <option value="WY" {% if user.customer.State == "WY" %} selected="selected" {% endif %}>Wyoming</option>
        </select>
        <p style="display: inline;">5-Digit ZIP Code</p>
        <input style="display: inline;" type="text" name="ZIP" id="ZIP" value="{{ user.customer.ZIP }}">
        <button style="display: inline;" type="submit">Continue</button>
    </div>
</form>
{% endif %}
{% endblock %}