<!-- templates/rainbownums/base.html -->
{% extends '../base.html' %}

{% block content %}

<form action="" method="POST" class="form-inline">
    {% csrf_token %}
    <input id="search_text" type="text" name="search_text" value="{{ search_text }}" placeholder="Search...">
    <button id="search_submit" type="submit">Search</button>
</form>

{% if error %}
<p>Error when searching.</p>
{% else %}
<table border="1" style="width: 100%; margin-top: 20px;">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    {% for product in products %}
    <tr>
        <td align="center"><img src={{ product.images.all.0.Image.url }} height="200"></td>
        <td><a href="/store/product/{{ product.ProductID }}">{{ product.ProductName }}</a></td>
        <td>${{ product.ProductPrice }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
