<!DOCTYPE html>
<html lang="en" style="width: 100%;">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
</head>
<body style="max-width: 1000px; margin: auto;">
<nav style="padding-top: 10px;">
    <a style="padding-right: 40px;" href="{% url 'home:index' %}">Home</a>
    <a href="{% url 'store:index' %}">Store</a>
    {% if user.is_authenticated %}
    <a style="float: right" href="{% url 'account:logout' %}">Sign Out</a>
    {% else %}
    <a style="float: right" href="{% url 'account:signup' %}">Sign Up</a>
    <a style="float: right; padding-right: 40px;" href="{% url 'account:login' %}">Sign In</a>
    {% endif %}
</nav>
<hr>

<table border="1" style="width: 100%; margin-top: 20px;">
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tr>
        <td><img src="{% static "camp_box_logo.jpg" %}" alt="Camp Box Tee" height="200"></td>
        <td>Camp Box Tee</td>
        <td>$19.99</td>
    </tr>
    <tr>
        <td><img src="{% static "dead_rats_sweater.jpg" %}" alt="Dead Rats Sweater" height="200"></td>
        <td>Dead Rats Sweater</td>
        <td>$24.99</td>
    </tr>
    <tr>
        <td><img src="{% static "fields_of_flowers.jpg" %}" alt="Fields of Flowers Sweater" height="200"></td>
        <td>Fields of Flowers Sweater</td>
        <td>$29.99</td>
    </tr>
    <tr>
        <td><img src="{% static "keep_going_front.jpg" %}" alt="Keep Going Tee" height="200"></td>
        <td>Keep Going Tee/td>
        <td>$14.99</td>
    </tr>
</table>
</body>
</html>
