<!-- templates/rainbownums/base.html -->
{% extends '../base.html' %}

{% block content %}

<img src={{ product.images.all.0.Image.url }} height="200" alt="">

<p>{{ product.ProductName }}</p>

<p>{{ product.ProductDescription }}</p>

<form action="" method="POST">
    {% csrf_token %}

    <input type = "hidden" name="ProductID" value={{ product.ProductID }} />

    <p>Size:</p>
    <select name="ProductSize" id="size">
        <option value="XXS">XXS</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
    </select>

    <p>Quantity</p>
    <select name="Quantity" id="quantity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>

    <button id="search_submit" type="submit">Add to Cart</button>

    {% if added %}
    <p>Item has been added to cart!</p>
    {% endif %}
</form>


{% endblock %}
