<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="{% url 'home:index' %}">Home</a>
    <a href="{% url 'store:index' %}">Store</a>
    {% if user.is_authenticated %}
    <a href="{% url 'account:logout' %}">Sign Out</a>
    {% else %}
    <a href="{% url 'account:login' %}">Sign In</a>
    <a href="{% url 'account:signup' %}">Sign Up</a>
    {% endif %}
</nav>

<img src="test.jpg" alt="TEST">

<table>
    <thead>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tr>
        <td><img src="camp_box_logo.jpg" alt="Camp Box"></td>
        <td>Camp Box</td>
        <td>$19.99</td>
    </tr>
    <tr>
        <td><img src="dead_rats_sweater.jpg" alt="Dead Rats Sweater"></td>
        <td>Dead Rats Sweater</td>
        <td>$24.99</td>
    </tr>
    <tr>
        <td><img src="fields_of_flowers.jpg" alt="Fields of Flowers"></td>
        <td>Fields of Flowers</td>
        <td>$29.99</td>
    </tr>
    <tr>
        <td><img src="keep_going_front.jpg" alt="Keep Going"></td>
        <td>Keep Going</td>
        <td>$14.99</td>
    </tr>
</table>
</body>
</html>
